<a href="https://colab.research.google.com/github/JihunSKKU/PySpark/blob/main/PySpark_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Practice - Lec07

In [17]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

## Spark RDD: Data conversion, Data save

In [18]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
str_data = ["RDD data 1", "RDD data 2"]
rdd_data = sc.parallelize(str_data)
print(rdd_data)

ParallelCollectionRDD[69] at readRDDFromFile at PythonRDD.scala:289

In [19]:
data_in_hdfs = sc.textFile("/content/sorting_input/sorting.txt")
print(data_in_hdfs.collect())

['82, 58, 49, 99, 25, 37, 44, 94, 70, 18, 73, 81, 32, 21, 79, 13, 38, 51, 70, 38, 82, 43, 42', '63, 78, 39, 1, 56, 35, 93, 66, 5, 91, 77, 86, 45, 58, 77, 49, 47, 15, 92, 12', '70, 38, 49, 58, 96, 79, 69, 94, 50, 11, 86, 39, 58, 74, 69, 82, 97', '84, 92, 92, 80, 98, 44, 27, 55, 52, 47, 44, 96, 64, 37, 30, 18, 18, 49, 53, 43', '84, 68, 38, 78, 23, 16, 41, 55, 50, 89, 9, 78, 23, 95, 24, 29, 21, 4, 71']

Spark는 Lazy execution이기 때문에 액션(Action)을 할 때 까지 변환(Transformation)이 실행되지 않고, 이로 인해 error가 발생하지 않음

In [20]:
# no_data_in_hdfs = sc.textFile("/content/sorting_input/no_sorting.txt")
# print(no_data_in_hdfs.collect())

In [21]:
data_in_hdfs = sc.textFile("/content/sorting_input/sorting.txt")

# Save data in new path
data_in_hdfs.saveAsTextFile("/content/tmp/sorting_input")

# Inspect saved data
data_in_hdfs_read = sc.textFile("/content/tmp/sorting_input/*")
print(data_in_hdfs_read.collect())

['82, 58, 49, 99, 25, 37, 44, 94, 70, 18, 73, 81, 32, 21, 79, 13, 38, 51, 70, 38, 82, 43, 42', '63, 78, 39, 1, 56, 35, 93, 66, 5, 91, 77, 86, 45, 58, 77, 49, 47, 15, 92, 12', '70, 38, 49, 58, 96, 79, 69, 94, 50, 11, 86, 39, 58, 74, 69, 82, 97', '84, 92, 92, 80, 98, 44, 27, 55, 52, 47, 44, 96, 64, 37, 30, 18, 18, 49, 53, 43', '84, 68, 38, 78, 23, 16, 41, 55, 50, 89, 9, 78, 23, 95, 24, 29, 21, 4, 71']

## Spark RDD: Transformation

마찬가지로 Spark는 Lazy execution이기 때문

In [22]:
RDD = sc.parallelize(["A", "B", "C", "D"])
DD_squared = RDD.map(lambda x : x * x)

In [23]:
# RDD = sc.parallelize(["A", "B", "C", "D"])
# RDD_squared = RDD.map(lambda x : x * x).collect()

In [24]:
RDD = sc.parallelize([1, 2, 3, 4, 5])
RDD_squared1 = RDD.map(lambda x : x * x).collect()
print(RDD_squared1)

[1, 4, 9, 16, 25]

collect가 없으면 연산 값이 아닌 RDD 값이 반환됨

In [25]:
RDD = sc.parallelize([1, 2, 3, 4, 5])
RDD_squared1 = RDD.map(lambda x : x * x)
print(RDD_squared1)

PythonRDD[83] at RDD at PythonRDD.scala:53

In [26]:
RDD = sc.parallelize([1, 2, 3, 4, 5])

def f(x):
    return x*x

RDD_squared2 = RDD.map(f).collect()
print(RDD_squared2)

[1, 4, 9, 16, 25]

In [27]:
RDD = sc.parallelize(["spark,example", "flatmap,map"])
RDD_from_flatMap = RDD.map(lambda x : x.split(",")).collect()
print(RDD_from_flatMap)

[['spark', 'example'], ['flatmap', 'map']]

In [28]:
RDD = sc.parallelize(["spark,example", "flatmap,map"])
RDD_from_flatMap = RDD.flatMap(lambda x : x.split(",")).collect()
print(RDD_from_flatMap)

['spark', 'example', 'flatmap', 'map']

In [29]:
rdd_data = sc.parallelize([123, 123, 456, 456, 456, 789])
rdd_data_from_distinct = rdd_data.distinct()
data_from_collect = rdd_data_from_distinct.collect()

print(rdd_data_from_distinct)
print("-------------------------------------------------------")
print(data_from_collect)

PythonRDD[95] at collect at <ipython-input-29-6f80831578f5>:3
-------------------------------------------------------
[456, 123, 789]

In [30]:
RDD = sc.parallelize([1, 2, 3, 4, 5])
RDD_from_filter = RDD.filter(lambda x : x < 3).collect()
print(RDD_from_filter)

[1, 2]

In [31]:
RDD1 = sc.parallelize([1, 1, 2, 2, 3, 3, 4, 4])
RDD2 = sc.parallelize([3, 4, 4, 5])
RDD3 = sc.parallelize([5, 6, 6])

data_from_union = sc.union([RDD1, RDD2, RDD3]).collect()
data_from_intersection = RDD1.intersection(RDD2).collect()
data_from_subtract = RDD1.subtract(RDD2).collect()

print(data_from_union)
print(data_from_intersection)
print(data_from_subtract)

[1, 1, 2, 2, 3, 3, 4, 4, 3, 4, 4, 5, 5, 6, 6]
[4, 3]
[1, 1, 2, 2]

## Exercise

### Exercise 1

In [32]:
RDD = sc.parallelize([ [["A"],["B"]], [["A"],["B"]] ])
RDD_from_flatMap = RDD.flatMap(lambda x : x+x).collect()
print(RDD_from_flatMap)

[['A'], ['B'], ['A'], ['B'], ['A'], ['B'], ['A'], ['B']]

### Exercise 2

In [33]:
RDD1 = sc.parallelize(["ABC", "ABC", "ABC", "DEF", "DEF"])
RDD2 = sc.parallelize(["ABC", "ABC"])
RDD3 = sc.parallelize(["ABC", "ABC"])

data_from_union = sc.union([RDD1, RDD2, RDD3]).collect()
print(data_from_union)

data_from_intersection = RDD1.intersection(RDD2).collect()
print(data_from_intersection)

data_from_subtract = RDD2.subtract(RDD3).collect()
print(data_from_subtract)

['ABC', 'ABC', 'ABC', 'DEF', 'DEF', 'ABC', 'ABC', 'ABC', 'ABC']
['ABC']
[]

### Exercise 3

In [34]:
RDD = sc.parallelize([1, 2, 3, 4, 5])

def f(x):
    return x==1
RDD_from_filter = RDD.filter(f).collect()

print(RDD_from_filter)

[1]

In [35]:
RDD = sc.parallelize([1, 2, 3, "a", "c", "b"])

def f(x):
    return type(x) == int
RDD_from_filter = RDD.filter(f).collect()

print(RDD_from_filter)

[1, 2, 3]

## Spark RDD: Action

In [36]:
from operator import add # addition function
RDD = sc.parallelize([1, 2, 3, 4, 5])

RDD_from_reduce1 = RDD.reduce(add) # add all values in RDD

def f(x, y):
    return x + y

RDD_from_reduce2 = RDD.reduce(f)

print(RDD_from_reduce1)
print(RDD_from_reduce2)

15
15

In [37]:
RDD = sc.parallelize(['a', 'c', 'b', 'e', 's'])
def f(x, y):
    return x + y
RDD_from_reduce = RDD.reduce(f)
print(RDD_from_reduce)

acbes

In [38]:
rdd_data = sc.parallelize([123, 123, 456, 456, 456, 789])
number_of_data = rdd_data.count()
print(number_of_data)

rdd_data = sc.parallelize(['ABC','ABC','ABC','ABC','ABC','ABC'])
number_of_data = rdd_data.count()
print(number_of_data)

6
6

In [39]:
rdd_data = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
data_from_collect = rdd_data.collect()
data_from_first = rdd_data.first()
print(data_from_collect)
print(data_from_first)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1

In [40]:
rdd_data = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
data_from_take = rdd_data.take(3)
print(data_from_take)

[1, 2, 3]

In [41]:
'''
takeSample Argument
    First:  Sampling with replacement or not
    Second: Number of samples
    Third:  Random seed
'''
data_from_takeSample = rdd_data.takeSample(False, 2, 2021)
print(data_from_takeSample)

[3, 8]

In [42]:
RDD = sc.parallelize([5, 3, 2, 4, 1])

data_top2 = RDD.top(2)
data_min = RDD.min()
data_max = RDD.max()

print(data_top2)
print(data_min)
print(data_max)

[5, 4]
1
5

In [43]:
RDD = sc.parallelize(["A", "C", "D", "A", "B"])

data_top2 = RDD.top(2)
data_min = RDD.min()
data_max = RDD.max()

print(data_top2)
print(data_min)
print(data_max)

['D', 'C']
A
D

In [44]:
# No operations are performed on non-numeric values
RDD = sc.parallelize([1, 2, 3, 4, 5])

data_sum = RDD.sum()
data_mean = RDD.mean()
data_variance = RDD.variance()

print(data_sum)
print(data_mean)
print(data_variance)

15
3.0
2.0

### Exercise 4

In [45]:
rdd_data = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

data_from_takeSample1 = rdd_data.takeSample(False, 2, 2021)
data_from_takeSample2 = rdd_data.takeSample(False, 2, 2021)
data_from_takeSample3 = rdd_data.takeSample(False, 2, 2021)
data_from_takeSample4 = rdd_data.takeSample(False, 2, 0)
data_from_takeSample5 = rdd_data.takeSample(False, 2, 0)
data_from_takeSample6 = rdd_data.takeSample(False, 2, 1)

print(data_from_takeSample1)
print(data_from_takeSample2)
print(data_from_takeSample3)
print(data_from_takeSample4)
print(data_from_takeSample5)
print(data_from_takeSample6)

[3, 8]
[3, 8]
[3, 8]
[8, 9]
[8, 9]
[7, 9]

## Spark Pair RDDs

In [46]:
RDD = sc.parallelize([("spark", [1, 2, 3]), ("example", [1, 2])])
data_from_keys = RDD.keys().collect()
data_from_values = RDD.values().collect()

print(data_from_keys)
print(data_from_values)

['spark', 'example']
[[1, 2, 3], [1, 2]]

In [47]:
RDD1 = sc.parallelize([("a", 1), ("b", 2), ("c", 2)])
RDD2 = sc.parallelize([("a", 2), ("b", 3), ("b", 4)])

data_from_join = RDD1.join(RDD2).collect()
print(data_from_join)

[('b', (2, 3)), ('b', (2, 4)), ('a', (1, 2))]

In [48]:
RDD = sc.parallelize([("spark", [1, 2]), ("spark", [1, 4]), ("example", [1, 2])])
def f(x):
    return sum(x)
data_from_mapValues = RDD.mapValues(f).collect()

print(data_from_mapValues)

[('spark', 3), ('spark', 5), ('example', 3)]

In [49]:
RDD = sc.parallelize([("a", 1), ("b", 1), ("a", 2), ("a", 2)])
data_from_groupByKey_list = RDD.groupByKey().mapValues(list).collect()

print(data_from_groupByKey_list)

[('b', [1]), ('a', [1, 2, 2])]

In [50]:
RDD = sc.parallelize([("a", 1), ("b", 1), ("a", 2), ("a", 2)])
data_from_groupByKey_list = RDD.groupByKey().mapValues(sum).collect()

print(data_from_groupByKey_list)

[('b', 1), ('a', 5)]

In [51]:
from operator import add

RDD = sc.parallelize([("spark", 1), ("spark", 1), ("example", 1)])
data_from_reduceByKey = RDD.reduceByKey(add).collect()

print(data_from_reduceByKey)

[('spark', 2), ('example', 1)]

In [52]:
RDD = sc.parallelize ([("a", 1), ("b", 1), ("a", 2), ("a", 2)])

def createCombiner(a): return [a] # merge results into a list

def mergeValue(a, b):
    a.append(b)
    return a

def mergeCombiners(a, b):
    a.extend(b)
    return a

RDD.combineByKey(createCombiner, mergeValue, mergeCombiners).collect()

[('b', [1]), ('a', [1, 2, 2])]

In [53]:
RDD = sc.parallelize ([("a", 0), ("a", 2)])
def createCombiner(a): return a
def mergeValue(a, b):
    return a*b
def mergeCombiners(a, b):
    return a+b

RDD.combineByKey(createCombiner, mergeValue, mergeCombiners).collect()

[('a', 2)]

In [54]:
# '<' not supported between instances of 'str' and 'int'
RDD = sc.parallelize([("a", [1, 2, 3]), ("c", [1]), ("a", [1, 2])])
data_from_sortByKey = RDD.sortByKey().collect()

print(data_from_sortByKey)

[('a', [1, 2, 3]), ('a', [1, 2]), ('c', [1])]

### Exercise 5

In [55]:
from operator import add

RDD = sc.parallelize([("spark", "a"), ("spark", "b"), ("example", "c")])
data_from_reduceByKey = RDD.reduceByKey(add).collect()

print(data_from_reduceByKey)

[('spark', 'ab'), ('example', 'c')]

In [56]:
RDD = sc.parallelize([("a", [1, 2]), ("b", [1, 2, 3]), ("c", [1])])
data_from_lookup = RDD.lookup("b")
print(data_from_lookup)

RDD = sc.parallelize([("a", [1]), ("b", [1, 2, 3]), ("b", [1, 2, 3])])
data_from_lookup = RDD.lookup("b")
print(data_from_lookup)

RDD = sc.parallelize([("a", [1, 2]), ("b", [1, 2, 3]), ("c", [1])])
data_from_lookup = RDD.lookup("d")
print(data_from_lookup)

[[1, 2, 3]]
[[1, 2, 3], [1, 2, 3]]
[]

In [57]:
RDD = sc.parallelize([("a", [1, 2]), ("b", [1, 2, 3]), ("c", [1])])
data_from_collectAsMap = RDD.collectAsMap()
print(data_from_collectAsMap)

RDD = sc.parallelize([("a", 1), ("b", 3), ("c", [1])])
data_from_collectAsMap = RDD.collectAsMap()
print(data_from_collectAsMap)

{'a': [1, 2], 'b': [1, 2, 3], 'c': [1]}
{'a': 1, 'b': 3, 'c': [1]}

In [58]:
RDD = sc.parallelize([("a", [1, 2, 3]), ("c", [1]), ("a", [1, 2])])
data_from_countByKey = RDD.countByKey()
print(data_from_countByKey)

RDD = sc.parallelize([(1, [1, 2, 3]), (1, 2), ("a", [1]), (3, [1, 2]), ("b", [1])])
data_from_countByKey = RDD.countByKey()
print(data_from_countByKey)

defaultdict(<class 'int'>, {'a': 2, 'c': 1})
defaultdict(<class 'int'>, {1: 2, 'a': 1, 3: 1, 'b': 1})

In [59]:
rdd_data = sc.parallelize([123, 123, 456, 456, 456, 789])
data_from_countByValue = rdd_data.countByValue()
print(data_from_countByValue)

rdd_data = sc.parallelize(["A", "A", "A", "B", "B", "B"])
data_from_countByValue = rdd_data.countByValue()
print(data_from_countByValue)

defaultdict(<class 'int'>, {123: 2, 456: 3, 789: 1})
defaultdict(<class 'int'>, {'A': 3, 'B': 3})

# SparkSQL, SparkML Practice - Lec08

## Saving a DataFrame, Convert to a DataFrame

In [1]:
import json
from pyspark import SparkContext
from pyspark.sql import SQLContext, SparkSession

sc = SparkContext()
spark = SparkSession(sc)

### Convert input data to DataFrame
**Row()**
- Makes possible to access like the attributes in RDBMS
- e.g., row1 = Row(age=11, name=‘Alice’), \
    row1.name ⇒ ‘Alice’, row1.age ⇒ 11

**toDF()**
- Convert RDD to DataFrame

In [2]:
from pyspark.sql import Row

RDD = sc.parallelize([
Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Suwon'}),
Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Seoul'})])

DF = RDD.toDF() # RDD -> DataFrame
DF.show(truncate=False)

+-------+---------------------------+
|dept_id|dept_info                  |
+-------+---------------------------+
|1      |{name -> CS, loc -> Seoul} |
|2      |{name -> CS, loc -> Suwon} |
|3      |{name -> R&D, loc -> Seoul}|
+-------+---------------------------+

### Save DataFrame in JSON format

In [6]:
from pyspark.sql import Row
DF = sc.parallelize([
Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Suwon'}),
Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Seoul'})]).toDF()

DF.write.json("./SKKU-DBP-24/DF_json")

In [7]:
# !rm -rf /content/SKKU-DBP-24/DF_json

### Convert json data to DataFrame

In [10]:
import json
from pyspark.sql import SQLContext

sqlCtx = SQLContext(sc)

RDD = sc.textFile("./SKKU-DBP-24/DF_json/*").map(lambda x: json.loads(x))

DF = sqlCtx.createDataFrame(RDD)

DF.show(truncate=False) # truncate=False: show all data

+-------+---------------------------+
|dept_id|dept_info                  |
+-------+---------------------------+
|1      |{name -> CS, loc -> Seoul} |
|2      |{name -> CS, loc -> Suwon} |
|3      |{name -> R&D, loc -> Seoul}|
+-------+---------------------------+

In [12]:
import json
from pyspark.sql import SQLContext

sqlCtx = SQLContext(sc)
DF = sqlCtx.read.json("./SKKU-DBP-24/DF_json/*")
DF.registerTempTable("dept")

DF.show(truncate=False) # truncate=False: show all data

+-------+------------+
|dept_id|dept_info   |
+-------+------------+
|2      |{Suwon, CS} |
|3      |{Seoul, R&D}|
|1      |{Seoul, CS} |
+-------+------------+

## Spark SQL Operations

In [60]:
from pyspark.sql import Row

RDD = sc.parallelize([
    Row(dept_id='1',dept_info={'name':'CS', 'loc':'Seoul'}),
    Row(dept_id='2',dept_info={'name':'CS', 'loc':'Suwon'})
])
DF = RDD.toDF()

DF.select("dept_info.name").show(truncate=False)

+----+
|name|
+----+
|CS  |
|CS  |
+----+

In [61]:
from pyspark.sql import Row

RDD = sc.parallelize([
    Row(dept_id='1',dept_info={'name':'CS', 'loc':'Seoul'}),
    Row(dept_id='2',dept_info={'name':'CS', 'loc':'Suwon'})
])
DF = RDD.toDF()

DF.select("dept_id","dept_info.loc").show(truncate=False)

+-------+-----+
|dept_id|loc  |
+-------+-----+
|1      |Seoul|
|2      |Suwon|
+-------+-----+

### select(column_name): 3ways

In [63]:
from pyspark.sql import Row

RDD = sc.parallelize([
    Row(dept_id='1',dept_info={'name':'CS', 'loc':'Seoul'}),
    Row(dept_id='2',dept_info={'name':'CS', 'loc':'Suwon'})
])
DF = RDD.toDF()

## First
DF.select(DF.dept_id).show()

## second
from pyspark.sql.functions import col
DF.select(col("dept_id")).show()

## Third
DF.select("dept_id").show()

+-------+
|dept_id|
+-------+
|      1|
|      2|
+-------+

+-------+
|dept_id|
+-------+
|      1|
|      2|
+-------+

+-------+
|dept_id|
+-------+
|      1|
|      2|
+-------+

### Convert type of column

In [65]:
from pyspark.sql import Row

RDD = sc.parallelize([
    Row(dept_id='1',dept_info={'name':'CS', 'loc':'Seoul'}),
    Row(dept_id='2',dept_info={'name':'CS', 'loc':'Suwon'})
])
DF = RDD.toDF()

from pyspark.sql.types import IntegerType

DF_id = DF.withColumn("dept_id", DF["dept_id"].cast(IntegerType()))
DF_id.printSchema()

root
 |-- dept_id: integer (nullable = true)
 |-- dept_info: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

### Add new column

In [66]:
from pyspark.sql import Row

RDD = sc.parallelize([
    Row(dept_id='1',dept_info={'name':'CS', 'loc':'Seoul'}),
    Row(dept_id='2',dept_info={'name':'CS', 'loc':'Suwon'})])
DF = RDD.toDF()

from pyspark.sql.functions import lit # Create a column of the literal value
DF_with_new1 = DF.withColumn("new1", lit(0))
DF_with_new1.show(truncate=False)

from pyspark.sql.functions import exp
DF_with_new2 = DF.withColumn("new2", exp("dept_id"))
DF_with_new2.show(truncate=False)

+-------+--------------------------+----+
|dept_id|dept_info                 |new1|
+-------+--------------------------+----+
|1      |{name -> CS, loc -> Seoul}|0   |
|2      |{name -> CS, loc -> Suwon}|0   |
+-------+--------------------------+----+

+-------+--------------------------+------------------+
|dept_id|dept_info                 |new2              |
+-------+--------------------------+------------------+
|1      |{name -> CS, loc -> Seoul}|2.7182818284590455|
|2      |{name -> CS, loc -> Suwon}|7.38905609893065  |
+-------+--------------------------+------------------+

### Add new row

In [67]:
from pyspark.sql import Row

# DF1 with 2 rows
DF1 = sc.parallelize([
Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'})]).toDF()

# DF2 with 1 row
DF2 = sc.parallelize([
Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Suwon'})]).toDF()
DF1.unionByName(DF2).show(truncate=False)

+-------+---------------------------+
|dept_id|dept_info                  |
+-------+---------------------------+
|1      |{name -> CS, loc -> Seoul} |
|2      |{name -> CS, loc -> Busan} |
|3      |{name -> R&D, loc -> Suwon}|
+-------+---------------------------+

### Remove existing Column

In [69]:
from pyspark.sql import Row

DF = sc.parallelize([
    Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
    Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'}),
    Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Suwon'})]).toDF()

DF.drop("dept_id").show(truncate=False)

+---------------------------+
|dept_info                  |
+---------------------------+
|{name -> CS, loc -> Seoul} |
|{name -> CS, loc -> Busan} |
|{name -> R&D, loc -> Suwon}|
+---------------------------+

### Extract row

In [70]:
from pyspark.sql import Row

DF = sc.parallelize([
    Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
    Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'}),
    Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Suwon'})]).toDF()

# Avoid sub table
DF_flatten = DF.select('dept_id', 'dept_info.name', 'dept_info.loc')

# Extract row that meets the condition
DF_flatten.filter(DF_flatten["name"] == "CS").show()

+-------+----+-----+
|dept_id|name|  loc|
+-------+----+-----+
|      1|  CS|Seoul|
|      2|  CS|Busan|
+-------+----+-----+

### others function

In [71]:
from pyspark.sql import Row

DF = sc.parallelize([
    Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
    Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'}),
    Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Suwon'})]).toDF()

# Avoid sub-table
DF_flatten = DF.select("dept_id", "dept_info.name", "dept_info.loc")
DF_flatten.groupBy("name").count().show() # get number of data

+----+-----+
|name|count|
+----+-----+
|  CS|    2|
| R&D|    1|
+----+-----+

In [72]:
from pyspark.sql import Row

DF1 = sc.parallelize([Row(dept_id='1', name='CS', loc= 'Suwon'),
    Row(dept_id='2', name='CS', loc= 'Busan')]).toDF()

DF2 = sc.parallelize([Row(dept_id='3', name='R&D', loc= 'Seoul'),
    Row(dept_id='4', name='R&D', loc='Busan')]).toDF()

DF_join = DF1.join(DF2, DF1["loc"] == DF2["loc"]) # join
DF_join.show()

+-------+----+-----+-------+----+-----+
|dept_id|name|  loc|dept_id|name|  loc|
+-------+----+-----+-------+----+-----+
|      2|  CS|Busan|      4| R&D|Busan|
+-------+----+-----+-------+----+-----+

In [73]:
from pyspark.sql import Row

DF = sc.parallelize(
    [Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
    Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'}),
    Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Suwon'})]).toDF()

# Avoid sub-table
DF_flatten = DF.select('dept_id', 'dept_info.name', 'dept_info.loc')

# Convert DataFrame to RDD
RDD_from_DF = DF_flatten.rdd.map(lambda x: x.name)
print(RDD_from_DF.collect())

['CS', 'CS', 'R&D']

In [79]:
from pyspark.sql import Row

DF = sc.parallelize([
    Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
    Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'}),
    Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Seoul'})]).toDF()

DF.createTempView("temp_table")

sqlDF = spark.sql("SELECT dept_info.name \
    FROM temp_table \
    WHERE dept_info.loc==\"Seoul\"")
sqlDF.show()

+----+
|name|
+----+
|  CS|
| R&D|
+----+

In [78]:
spark.catalog.dropTempView("temp_table")

True

In [80]:
from pyspark.sql import Row

DF = sc.parallelize([
    Row(dept_id='1', dept_info={'name': 'CS', 'loc': 'Seoul'}),
    Row(dept_id='2', dept_info={'name': 'CS', 'loc': 'Busan'}),
    Row(dept_id='3', dept_info={'name': 'R&D', 'loc': 'Seoul'})]).toDF()

DF.createOrReplaceTempView("temp_table")

sqlDF = spark.sql("SELECT dept_info.name \
    FROM temp_table \
    WHERE dept_info.loc==\"Seoul\"")
sqlDF.show()

+----+
|name|
+----+
|  CS|
| R&D|
+----+

## Spark ML library - Clustering

K-means clustering algorithm
1. Initialize centroids
2. Assign cluster to each data according to its nearest centroid
3. Update centroids towards the center of data
4. Repeat 2, 3 until centroids remain unchanged

In [87]:
from pyspark.sql import SparkSession
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler

spark = SparkSession.builder.appName("KMeansPractice").getOrCreate()

data = [[0.0, 0.1], [1.0, 1.0], [0.5, 0.6], [0.5, 2.0], [9.0, 8.0], [8.0, 9.0], [9.0, 9.5], [10.0, 10.0]]
columns = ["feature1", "feature2"]

df = spark.createDataFrame(data, columns)
df.show()

+--------+--------+
|feature1|feature2|
+--------+--------+
|     0.0|     0.1|
|     1.0|     1.0|
|     0.5|     0.6|
|     0.5|     2.0|
|     9.0|     8.0|
|     8.0|     9.0|
|     9.0|     9.5|
|    10.0|    10.0|
+--------+--------+

In [88]:
assembler = VectorAssembler(inputCols=columns, outputCol="features")

df = assembler.transform(df)
df.show()

+--------+--------+-----------+
|feature1|feature2|   features|
+--------+--------+-----------+
|     0.0|     0.1|  [0.0,0.1]|
|     1.0|     1.0|  [1.0,1.0]|
|     0.5|     0.6|  [0.5,0.6]|
|     0.5|     2.0|  [0.5,2.0]|
|     9.0|     8.0|  [9.0,8.0]|
|     8.0|     9.0|  [8.0,9.0]|
|     9.0|     9.5|  [9.0,9.5]|
|    10.0|    10.0|[10.0,10.0]|
+--------+--------+-----------+

### Train the K-means model
- KMeans(featuresCol, predictionCol, k, maxIter, distanceMeasure)
    - featuresCol: Features column name.
    - predictionCol: Prediction column name.
    - k: The number of clusters to create.
    - maxIter: Max number of iteration.
    - distanceMeasure: The distance measure. (euclidean/cosine)

In [89]:
kmeans = KMeans(featuresCol='features',
                predictionCol='prediction',
                k=2,
                maxIter=20,
                distanceMeasure='euclidean')

model = kmeans.fit(df)

In [90]:
centroids = model.clusterCenters()
predictions = model.transform(df).select("features", "prediction")

In [91]:
print("Cluster centroids:")
for cent in centroids:
    print(cent)

print("Result:")
predictions.show()

Cluster centroids:
[9.    9.125]
[0.5   0.925]
Result:
+-----------+----------+
|   features|prediction|
+-----------+----------+
|  [0.0,0.1]|         1|
|  [1.0,1.0]|         1|
|  [0.5,0.6]|         1|
|  [0.5,2.0]|         1|
|  [9.0,8.0]|         0|
|  [8.0,9.0]|         0|
|  [9.0,9.5]|         0|
|[10.0,10.0]|         0|
+-----------+----------+

## Spark ML library - Classification

### Logistic Regression

In [104]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler

spark = SparkSession.builder.appName("IrisLogisticRegression").getOrCreate()

iris_data = spark.read.option('header', 'true').option('inferSchema', 'true').csv('Iris.csv')

In [105]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
idx_dict = {'Iris-setosa': 0,
            'Iris-versicolor': 1,
            'Iris-virginica': 2}

# User Define Function
label_mapping_udf = udf(lambda label: idx_dict.get(label), IntegerType())
iris_data = iris_data.withColumn("Species", label_mapping_udf(iris_data["Species"]))
iris_data.show()

+---+-------------+------------+-------------+------------+-------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|Species|
+---+-------------+------------+-------------+------------+-------+
|  1|          5.1|         3.5|          1.4|         0.2|      0|
|  2|          4.9|         3.0|          1.4|         0.2|      0|
|  3|          4.7|         3.2|          1.3|         0.2|      0|
|  4|          4.6|         3.1|          1.5|         0.2|      0|
|  5|          5.0|         3.6|          1.4|         0.2|      0|
|  6|          5.4|         3.9|          1.7|         0.4|      0|
|  7|          4.6|         3.4|          1.4|         0.3|      0|
|  8|          5.0|         3.4|          1.5|         0.2|      0|
|  9|          4.4|         2.9|          1.4|         0.2|      0|
| 10|          4.9|         3.1|          1.5|         0.1|      0|
| 11|          5.4|         3.7|          1.5|         0.2|      0|
| 12|          4.8|         3.4|          1.6|         0.2|      0|
| 13|          4.8|         3.0|          1.4|         0.1|      0|
| 14|          4.3|         3.0|          1.1|         0.1|      0|
| 15|          5.8|         4.0|          1.2|         0.2|      0|
| 16|          5.7|         4.4|          1.5|         0.4|      0|
| 17|          5.4|         3.9|          1.3|         0.4|      0|
| 18|          5.1|         3.5|          1.4|         0.3|      0|
| 19|          5.7|         3.8|          1.7|         0.3|      0|
| 20|          5.1|         3.8|          1.5|         0.3|      0|
+---+-------------+------------+-------------+------------+-------+
only showing top 20 rows

In [106]:
# Assemble the features into a vector column and name the column to "features"
assembler = VectorAssembler(inputCols=["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"],
                            outputCol="features")

# Rename the target column to "label"
iris_data = assembler.transform(iris_data).select("features", "Species").withColumnRenamed("Species", "label")

In [107]:
train_data, test_data = iris_data.randomSplit([0.8, 0.2], seed=2023)

In [108]:
from pyspark.ml.classification import LogisticRegression

logistic_regression = LogisticRegression(featuresCol="features",
                                         labelCol="label",
                                         predictionCol='prediction',
                                         maxIter=100)

model = logistic_regression.fit(train_data)

In [111]:
model

LogisticRegressionModel: uid=LogisticRegression_06b914faa6d6, numClasses=3, numFeatures=4

In [112]:
predictions = model.transform(test_data)

In [114]:
predictions.show()

+-----------------+-----+--------------------+--------------------+----------+
|         features|label|       rawPrediction|         probability|prediction|
+-----------------+-----+--------------------+--------------------+----------+
|[4.7,3.2,1.3,0.2]|    0|[9438.32169347803...|       [1.0,0.0,0.0]|       0.0|
|[4.9,3.1,1.5,0.1]|    0|[8794.92750919444...|       [1.0,0.0,0.0]|       0.0|
|[5.0,3.6,1.4,0.2]|    0|[9604.88573039206...|       [1.0,0.0,0.0]|       0.0|
|[5.4,3.9,1.7,0.4]|    0|[8318.84741194077...|       [1.0,0.0,0.0]|       0.0|
|[5.5,2.4,3.7,1.0]|    1|[-711.8096549038,...|       [0.0,1.0,0.0]|       1.0|
|[5.5,2.5,4.0,1.3]|    1|[-1965.4704489795...|       [0.0,1.0,0.0]|       1.0|
|[5.6,3.0,4.1,1.3]|    1|[-1128.9673545014...|       [0.0,1.0,0.0]|       1.0|
|[5.6,3.0,4.5,1.5]|    1|[-2440.3856093591...|       [0.0,1.0,0.0]|       1.0|
|[5.7,2.8,4.1,1.3]|    1|[-1826.3269796827...|       [0.0,1.0,0.0]|       1.0|
|[5.8,2.7,4.1,1.0]|    1|[-1258.7122062005...|       [0.0,1.0,0.0]|       1.0|
|[6.1,2.8,4.7,1.2]|    1|[-3285.6376804798...|       [0.0,1.0,0.0]|       1.0|
|[6.1,3.0,4.9,1.8]|    2|[-5163.7950144830...|[0.0,2.4006923202...|       2.0|
|[6.2,2.2,4.5,1.5]|    1|[-5658.1697700489...|       [0.0,1.0,0.0]|       1.0|
|[6.3,2.3,4.4,1.3]|    1|[-4791.2041381852...|       [0.0,1.0,0.0]|       1.0|
|[6.3,2.5,4.9,1.5]|    1|[-5776.7266613810...|       [0.0,1.0,0.0]|       1.0|
|[6.3,2.8,5.1,1.5]|    2|[-5366.5285956567...|       [0.0,1.0,0.0]|       1.0|
|[6.3,3.3,4.7,1.6]|    1|[-3870.5243538655...|       [0.0,1.0,0.0]|       1.0|
|[6.3,3.4,5.6,2.4]|    2|[-7773.5665309372...|       [0.0,0.0,1.0]|       2.0|
|[6.4,2.7,5.3,1.9]|    2|[-7501.3849517314...|       [0.0,0.0,1.0]|       2.0|
|[6.4,2.8,5.6,2.2]|    2|[-8755.0457458071...|       [0.0,0.0,1.0]|       2.0|
+-----------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [115]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")

accuracy = evaluator.evaluate(predictions)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9583333333333334